@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 200;
    color: #0f141e;      
    background: #CFDAE7;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 300px;
    border-radius: 28px;
    box-shadow: 4px 4px 4px grey;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;

}

.info-text p {
    font-size: Italic;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.socials {
    margin-bottom: 20px;
}

.socials h3 {
    margin-bottom: 7px;
}

.socials a {
    margin-right: 5px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 1Opx;
}

.bg-yellow {
    background: #FDE8EA;
}

/* .bg-red {
    background: #;
} */

.bg-green {
    background: #F8F8E2;
}

.btn {
    background: #111;
    padding: 5px 10px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 5px;
}

.btn:hover {
    opacity: 0.8;
}

.list {
    list-style: none;
    padding: 0px;
}

.list li {
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: #000;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row, .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

